.algo-vote-widget {
  width: 350px;
  border: 8px solid green;
  padding: 20px;
  margin: 10px;
  background-color: black;
  color:white;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  border-radius: 50px
}

body {
  background-color: navy;
}

input:disabled {
  background-color: aquamarine;
  color: black
}